@model SportsStore.Shared.Entities.ShopCart

<div class="navbar-right hidden-xs">
    @Html.ActionLink("立即购买", "CheckOut", "ShopCart"
    , new { returnUrl = Request.Url.PathAndQuery }
    , new { @class = "btn btn-default navbar-btn" })
</div>

<div class="navbar-right visible-xs">
    <a href=@Url.Action("Index","ShopCart",new { returnUrl=Request.Url.PathAndQuery}) 
       class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </a>
</div>

<div class="navbar-right navbar-text">
    <b class="hidden-xs">已有商品:</b>
    @Model.Lines.Sum(x=>x.Quantity) 项
    @Model.ComputeTotalValue().ToString("c")
</div>
