
@{
    ViewBag.Title = "知识章节";
}

<h2>目录</h2>
<div>
    <ul>
        <li>@Html.ActionLink("第15章 URL路由", "Index", "Home", new { area = "UrlsAndRoutes" }, null)</li>
        <li>@Html.ActionLink("第16章 高级路由特性", "Index", "Home", new { area = "RoutesHighAttribute" }, null)</li>
    </ul>
</div>

