@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>动作视图</title>
</head>
<body>
    <div>控制器名称：@ViewBag.Controller</div>
    <div>动作的名称：@ViewBag.Action</div>
</body>
</html>
