@model SportsStore.Shared.ViewModel.ProductsListViewModel

@{
    ViewBag.Title = "主页";
}

<h2>产品</h2>

@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>

